<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192954205664-7l2ff9heob2u4bn64ldufefoi8ubh1rt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192954205664-7l2ff9heob2u4bn64ldufefoi8ubh1rt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>192954205664-hapudek29qnj4a5n0v9irp826s9q4hue.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDO-ES5Iy3hOfiwz-IMQ-tXhOtH9d01RwI</string>
	<key>GCM_SENDER_ID</key>
	<string>192954205664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trikarya.eventevent</string>
	<key>PROJECT_ID</key>
	<string>eventevent-e6bf8</string>
	<key>STORAGE_BUCKET</key>
	<string>eventevent-e6bf8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192954205664:ios:0c69f9a57e0dd8aa</string>
	<key>DATABASE_URL</key>
	<string>https://eventevent-e6bf8.firebaseio.com</string>
</dict>
</plist>