<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>eventevent</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>eventevent</string>
				<string>fb482210258650577</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.192954205664-0fmvrn1t263lksjtg0kfa9l87abvlavl</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.192954205664-fgf044g528sou85l0qmu8j5nng75k3be</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>482210258650577</string>
	<key>FacebookDisplayName</key>
	<string>EventEvent</string>
	<key>FirebaseScreenReportingEnabled</key>
	<true/>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>EventEvent need permission for your Media Library, so you can upload a video to EventEvent</string>
	<key>NSCalendarsUsageDescription</key>
	<string>EventEvent need permission for your calendars, so we can create events reminder for you.</string>
	<key>NSCameraUsageDescription</key>
	<string>EventEvent need to use the camera, either for broadcasting, or snap photo that can be used for event poster / additional info / timeline.</string>
	<key>NSContactsUsageDescription</key>
	<string>EventEvent need permission for your contacts, to see if your friends already registered on EventEvent or not.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Needed to access location, so we can show you events closest to your current location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Needed to access location, so we can show you events closest to your current location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>EventEvent need to use the microphone, so you can speak to your audience when broadcasting</string>
	<key>NSMotionUsageDescription</key>
	<string>EventEvent need permission for Motion</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>EventEvent need to access to your gallery, so you can choose your photo and upload it to EventEvent, maybe for event poster, or for your timeline.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>EventEvent need permission for SpeechRecognition, so you can speak to your audience when broadcasting</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_app_domain</key>
	<string>eventevent.app.link</string>
	<key>branch_key</key>
	<string>key_live_ijCwqgMyqksKHN0YEnvjJiocuzi2ciR4</string>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>CleverTapAccoutID</key>
	<string>R97-7Z8-R95Z</string>
	<key>CleverTapToken</key>
	<string>b1a-ac2</string>
	<key>kTCCServiceMediaLibrary</key>
	<string>Allow to acces media library, so you can choose your photo or video and upload it to EventEvent, maybe for event additional information, or for your timeline.</string>
</dict>
</plist>
