<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
				<key>dateExpires</key>
				<string>4/2/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Branch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CleverTapSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>camera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>clevertap_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>flutter_android_lifecycle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>flutter_barcode_scanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>flutter_branch_io_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>flutter_money_formatter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>geocoder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>launch_review.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>location.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>screen.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>share.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>share_extend.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>thumbnails.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3E604EE36E7CE9F7EC10668975BD2769779CB025</string>
						<key>dateExpires</key>
						<string>4/2/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T8U2NVAXWC</string>
						<key>name</key>
						<string>TRI KAYA BERSAMA, PT</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>T8U2NVAXWC.com.eventevent2.eventevent</string>
				<key>com.apple.developer.team-identifier</key>
				<string>T8U2NVAXWC</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>T8U2NVAXWC.com.eventevent2.eventevent</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>09f45161-74d3-425e-87ef-14c578d16144</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>T8U2NVAXWC</string>
				<key>name</key>
				<string>TRI KAYA BERSAMA, PT</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
